**Produce Small/Toy dataset**

In [1]:
import polars as pl

def create_smaller_csv(input_file, output_file):
    # Get total count
    lf = pl.scan_csv(input_file)
    total_count = lf.select(pl.count()).collect()[0,0]
    n_rows = total_count // 10
    
    # Create new smaller CSV
    (
        pl.scan_csv(input_file)
        .limit(n_rows)
        .sink_csv(output_file)
    )

# Process all three files
file_pairs = [
    ("train.csv", "train_small.csv"),
    ("test.csv", "test_small.csv"),
    ("valid.csv", "valid_small.csv")
]

for input_file, output_file in file_pairs:
    create_smaller_csv(input_file, output_file)

/tmp/ipykernel_2435/1685834435.py:6: DeprecationWarning: `pl.count()` is deprecated. Please use `pl.len()` instead.
  total_count = lf.select(pl.count()).collect()[0,0]

In [1]:
import polars as pl

def create_smaller_csv(input_file, output_file):
    # Get total count
    lf = pl.scan_csv(input_file)
    n_rows = 50000
    
    # Create new smaller CSV
    (
        pl.scan_csv(input_file)
        .limit(n_rows)
        .sink_csv(output_file)
    )

# Process all three files
file_pairs = [
    ("sample_skeleton_train.csv", "sample_skeleton_train_toy.csv"),
    ("sample_skeleton_test.csv", "sample_skeleton_test_toy.csv"),
    ("common_features_train.csv", "common_features_train_toy.csv"),
    ("common_features_test.csv", "common_features_test_toy.csv")
]

for input_file, output_file in file_pairs:
    create_smaller_csv(input_file, output_file)

In [4]:
import pandas as pd
pd.read_csv("sample_skeleton_train_toy.csv", header=None)

,0,1,2,3,4,5
0,1,0,0_duplicated_0,bacff91692951881,9,21090522181.021090645531.021090934451....
1,2,0,0,bacff91692951881,10,21091097321.021090462841.021090990351....
2,3,1,0,bacff91692951881,20,21090897311.021090475601.050995117692....
3,4,0,0,bacff91692951881,13,30193516651.021090503641.021090833881....
4,5,0,0,bacff91692951881,9,20549456631.030193516651.021691721791....
...,...,...,...,...,...,...
49996,49997,0,0,57a9982abde3f1a5,11,21090947711.021090781221.050893536125....
49997,49998,0,0,57a9982abde3f1a5,12,853100595321.6422950893526904.234112109...
49998,49999,0,0,57a9982abde3f1a5,11,21090309521.021692283171.030193516661....
49999,50000,0,0,57a9982abde3f1a5,15,21090749811.021090589811.050893548415....
50000,50001,0,0,57a9982abde3f1a5,8,20560430521.020788140751.021090509591....

In [5]:
pd.read_csv("sample_skeleton_test_toy.csv", header=None)

,0,1,2,3,4,5
0,1,0,0_duplicated_0,23bd0f75de327c60,14,21691810781.030193516651.020555871431....
1,2,0,0,23bd0f75de327c60,15,20556627321.020683168931.020789873281....
2,3,0,0,23bd0f75de327c60,12,20683154051.020565395121.030193516651....
3,4,0,0,23bd0f75de327c60,11,50996861712.9957321090689921.0207880102...
4,5,0,0,543b0cd53c7d5858,11,20683170931.050893553232.63906210902041...
...,...,...,...,...,...,...
49996,49997,0,0,f472a434f755bfd9,16,21090307441.021090862511.021090452041....
49997,49998,0,0,f472a434f755bfd9,15,853100354620.6507620788984891.020683170...
49998,49999,0,0,f472a434f755bfd9,17,21091164441.021090847321.021090749341....
49999,50000,0,0,f472a434f755bfd9,16,853100501220.45932853100140463.52144508...
50000,50001,0,0,f472a434f755bfd9,13,21090684411.020784214111.020683154981....

In [6]:
pd.read_csv("common_features_train_toy.csv", header=None)

,0,1,2
0,84dceed2e3a667f8,343,101313191.012534387741.012634387791.0...
1,0000350f0c2121e7,811,127_1437162241.94591127_1435146270.69315...
2,000091a89d1867ab,7,12534387731.012434387691.012234387611....
3,0001a4114b0ae8bf,231,150_1439166842.3979150_1439407981.070561...
4,0001def19d7cb335,964,150_1439091500.84715150_1439330134.44265...
...,...,...,...
49996,641938fd0f3a583e,203,109_144512053.7841912234387571.01014021...
49997,6419d06f6c0f8165,678,127_1434782630.69315127_1434840410.69315...
49998,641a8f73a44a66c2,829,150_1439419534.32413150_1439207821.20387...
49999,641ab8c35be9173a,77,150_1438825340.51103150_1439242230.15444...
50000,641aef046d66e3b9,1246,127_1435351793.04452127_1435588191.94591...